{% extends 'layout.html' %}

{% block title %}
    Welcome
{% endblock title %}

{% block main %}
    <div class="jumbotron big-banner mb-0 jumbotron-fluid" style="height: 500px; padding-top: 150px; background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66);">
        <div class="container">
            <div class="row alignt-items-center">
                <div class="col">
                    <div class="col-md-4 text-light">
                        <h1 class="lead">Mark your next book</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control form-control-lg mr-sm-0 col-8 border-right-0" style="border-radius: 5px 0px 5px;" type="search" placeholder="Find your next adventure" aria-label="Search">
                        <button class="btn tbn-light btn-lg my-2 my-som-0 col-2 border-left-0" style="border-radius: 0px 5px 5px 0px;" type="submit"><i class="fas text-danger fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    
    </div>
{% endblock main %} 